# Configuración de la base de datos
DATABASE_URL=postgresql+psycopg://USUARIO:PASSWORD@URL:PORT/BASE_DE_DATOS


# Configuración de JWT

# para generar una clave secreta ejecutar comando: openssl rand -hex 32 

JWT_SECRET_KEY="secret_key_here"  # Clave secreta generada  563952800aaa340fd88302c25889ba68aa6e8dbf2b7aa3df726809b618d444c9
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=minutes_to_expire_here
